.checkbox {
  margin: 0 0 30px 3px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkbox__item {
  margin: 0 0 20px;

  &:last-child {
    margin: 0;
  }
}

.checkbox__title {
  margin: 0 0 20px;
  padding: 0;
  font-family: $montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $color-base-black;
}

/*control*/

.checkbox__label {
  margin: 0;
  padding: 0 0 0 5px;
  font-family: $montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-base-black;
  cursor: pointer;
}

.checkbox__label-control {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  vertical-align: middle;
  font-size: 16px;
  user-select: none;
}

.checkbox__label-control .checkbox__mark {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
  border: 2px solid $color-base-grey;
  border-radius: 12px;
  vertical-align: top;
  background-color: $color-base-grey;
  transition: 0.2s;
}

.checkbox__label-control .checkbox__mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $color-base-white;
  transition: 0.2s;
}

.checkbox__label-control input[type="checkbox"] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__label-control input[type="checkbox"]:checked + .checkbox__mark {
  border: 2px solid $color-base-primary;
  background-color: $color-base-primary;
}

.checkbox__label-control input[type="checkbox"]:checked + .checkbox__mark::before {
  transform: translateX(18px);
}

/* hover focus */

.checkbox__label-control input[type="checkbox"]:hover + .checkbox__mark,
.checkbox__label-control input[type="checkbox"]:focus + .checkbox__mark {
  border: 2px solid $color-base-primary;
  background-color: $color-alt-primary-opacity;
}

/* disabled+checked disabled */

.checkbox__label-control input[type="checkbox"]:checked:disabled + .checkbox__mark::before {
  background-color: $bg-lightest-grey;
}

.checkbox__label-control input[type="checkbox"]:checked:disabled + .checkbox__mark {
  border: 2px solid $color-alt-light-grey;
  background-color: $bg-lightest-grey;
}

.checkbox__label-control input[type="checkbox"]:disabled + .checkbox__mark::before {
  background-color: $bg-lightest-grey;
}

.checkbox__label-control input[type="checkbox"]:disabled + .checkbox__mark {
  border: 2px solid $color-alt-light-grey;
  background-color: $color-alt-light-grey;
}
