.footer-nav {
  margin: 0;
  padding: 20px 20px 27px;
  border-bottom: 1px solid $color-base-secondary;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-nav__item {
  margin: 0 0 15px;
  padding: 0;

  &:last-child {
    margin: 0;
  }
}

.footer-nav__title {
  margin: 0 0 20px;
  padding: 0;
  font-family: $montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $color-base-primary;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    margin: 0 0 18px;
  }
}

.footer-nav__link {
  margin: 0;
  padding: 0;
  font-family: $montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $color-base-black;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $color-alt-primary-lighter;
    outline: none;
  }

  &:active {
    color: $color-alt-primary-darker;
  }
}
